name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tests:
    name: Tests (${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Dockerfile
            expected: '["linux/amd64","linux/arm64"]'
            expected_csv: 'linux/amd64,linux/arm64'
            with:
              dockerfile: tests/Dockerfile
          - name: Supplied Image
            expected: '["linux/amd64","linux/arm64"]'
            expected_csv: 'linux/amd64,linux/arm64'
            with:
              image: ghcr.io/wyrihaximusnet/php:8.3-zts-alpine-dev
          - name: Both
            expected: '["linux/arm64","linux/amd64","linux/arm","linux/386"]'
            expected_csv: 'linux/arm64,linux/amd64,linux/arm,linux/386'
            with:
              dockerfile: tests/Dockerfile
              image: ghcr.io/home-assistant/home-assistant:2024.12.2
          - name: Multiple images
            expected: '["linux/arm64","linux/amd64"]'
            expected_csv: 'linux/arm64,linux/amd64'
            with:
              image: ghcr.io/home-assistant/home-assistant:2024.12.2,ghcr.io/wyrihaximusnet/php:8.3-zts-alpine-dev
          - name: Multiple Dockerfiles
            expected: '["linux/amd64","linux/arm64"]'
            expected_csv: 'linux/amd64,linux/arm64'
            with:
              dockerfile: tests/Dockerfile*
          - name: Enforce LowerCase (Dockerfile)
            expected: '["linux/amd64","linux/arm64"]'
            expected_csv: 'linux/amd64,linux/arm64'
            with:
              dockerfile: tests/Dockerfile-cameCase
          - name: Enforce LowerCase (Image)
            expected: '["linux/amd64","linux/arm64"]'
            expected_csv: 'linux/amd64,linux/arm64'
            with:
              image: ghcr.io/WyriHaximusNet/php:8.3-zts-alpine-dev
          - name: Deduplicate found platforms
            expected: '["linux/amd64","linux/arm","linux/arm64","linux/386","linux/ppc64le","linux/riscv64","linux/s390x"]'
            expected_csv: 'linux/amd64,linux/arm,linux/arm64,linux/386,linux/ppc64le,linux/riscv64,linux/s390x'
            with:
              dockerfile: tests/alpine-Dockerfile
          - name: Deduplicate found platforms for images
            expected: '["linux/amd64","linux/arm","linux/arm64","linux/386","linux/ppc64le","linux/riscv64","linux/s390x"]'
            expected_csv: 'linux/amd64,linux/arm,linux/arm64,linux/386,linux/ppc64le,linux/riscv64,linux/s390x'
            with:
              image: alpine:3.21.0,alpine:3.21.1,alpine:3.21.2
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: OCI Image Supported Platforms
        id: platforms
        uses: ./
        with: ${{ matrix.with }}
      - name: Assert ${{ matrix.name }} Platforms (JSON)
        uses: nick-fields/assert-action@v2
        with:
          expected: ${{ matrix.expected }}
          actual: ${{ steps.platforms.outputs.platform }}
          comparison: exact
      - name: Assert ${{ matrix.name }} Platforms (CSV)
        uses: nick-fields/assert-action@v2
        with:
          expected: ${{ matrix.expected_csv }}
          actual: ${{ steps.platforms.outputs.platform_csv }}
          comparison: exact
